body{
    height: 100vh;
}
.text:focus {
    outline: none;
  }
.textContainer{
    display: flex;
    flex-direction: column;
    width: fit-content;
}
.container{
display: flex;
background-color: beige;
margin: 10px;
padding:10px;
}
.col{
flex: 1;
margin:5px;
}

.sentence{
    display: flex;
    min-width: fit-content;
    flex-wrap: nowrap;
    padding-top: 5px;
}
.words{
    display: flex;
}
.letters{
    flex: 1;
    font-size: 20px;
}
.highlight{
    color: rgb(107, 105, 105);
    border-bottom: solid;
    border-width: 1px;
    border-color: blue;
}
.correct {
    background-color: rgb(149, 206, 149);
}
.incorrect {
    background-color: rgb(235, 150, 150);
}
.current{
    background-color: antiquewhite;
}