header {
    border-bottom: solid;
    border-width: 1px;
}
#timer{
    font-size: 30px;
}

.top{
    align-items: center;
    justify-content: center;
}
.top .col {
text-align: center;
max-width: fit-content;
align-content: center;
margin-left: 40px;
}
.button{
background-color: rgb(158, 245, 141);
padding: 10px;
border-radius: 20px;
border-style: none;

}
.button:hover{
    background-color: rgb(80, 231, 20);
}